<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Startup Digi Dojo [Lab]</title>

  <!-- Import Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>



  <!-- Import other stylesheets -->
  <style>
    .blue {
      background-color: #0056b3;
    }

    .red {
      background-color: #b21f2d;
    }

    .def-height-place {
      height: 900px;
    }

    .h-90 {
      height: 90% !important;
    }

    .h-70 {
      height: 70% !important;
    }

    .h-40 {
      height: 40% !important;
    }

    .h-30 {
      height: 30% !important;
    }

    .h-20 {
      height: 20% !important;
    }

    .h-10 {
      height: 10% !important;
    }
  </style>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>

  <div id="whiteboard"></div>

<!-- Import required libraries -->
<script src="https://cdn.jsdelivr.net/npm/systemjs@6/dist/system.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/systemjs@6/dist/extras/amd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/systemjs@6/dist/extras/named-exports.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/systemjs@6/dist/extras/named-register.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      let newUuid = uuid.v4(); // <-- change variable name here
      let API_KEY = "613df765-fdd5-4403-9ab2-62744e166741";
      console.log(newUuid);
      $('#whiteboard').attr("src", `https://www.whiteboard.chat/apiaccess/createjoin/${newUuid}?key=${API_KEY}&teacher=true`);
    });
  </script>

  <!-- Import application scripts -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "react": "https://cdn.jsdelivr.net/npm/react@17/umd/react.production.min.js",
        "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@17/umd/react-dom.production.min.js",
        "@mui/material": "https://unpkg.com/@mui/material@latest/umd/material-ui.development.js",

        "@startup-digi-dojo-lab/root-config": "<%= isLocal ? '//localhost:9000/startup-digi-dojo-lab-root-config.js' : 'https://startup-digi-dojo-lab.onrender.com/startup-digi-dojo-lab-root-config.js' %>",
        
        "@startup-digi-dojo-lab/add-team-member": "<%= isLocal ? '//localhost:8080/startup-digi-dojo-lab-add-team-member.js' : 'https://sddl-add-team-member.onrender.com/startup-digi-dojo-lab-add-team-member.js' %>",
        "@startup-digi-dojo-lab/change-password": "<%= isLocal ? '//localhost:8080/startup-digi-dojo-lab-change-password.js' : 'https://sddl-change-password.onrender.com/startup-digi-dojo-lab-change-password.js' %>",
        "@startup-digi-dojo-lab/create-startup": "<%= isLocal ? '//localhost:8080/startup-digi-dojo-lab-create-startup.js' : 'https://sddl-create-startup.onrender.com/startup-digi-dojo-lab-create-startup.js' %>",
        "@startup-digi-dojo-lab/list-users-from-startup": "<%= isLocal ? '//localhost:8080/startup-digi-dojo-lab-list-users-from-startup.js' : 'https://sddl-list-users-from-startups.onrender.com/startup-digi-dojo-lab-list-users-from-startup.js' %>",
        "@startup-digi-dojo-lab/login": "<%= isLocal ? '//localhost:8080/startup-digi-dojo-lab-login.js' : 'https://sddl-login.onrender.com/startup-digi-dojo-lab-login.js' %>",
        "@startup-digi-dojo-lab/logout": "<%= isLocal ? '//localhost:8080/startup-digi-dojo-lab-logout.js' : 'https://sddl-logout.onrender.com/startup-digi-dojo-lab-logout.js' %>",
        "@startup-digi-dojo-lab/register-user": "<%= isLocal ? '//localhost:8080/startup-digi-dojo-lab-register-user.js' : 'https://sddl-register-user.onrender.com/startup-digi-dojo-lab-register-user.js' %>",
        "@startup-digi-dojo-lab/user": "<%= isLocal ? '//localhost:8080/startup-digi-dojo-lab-user.js' : 'https://sddl-user.onrender.com/startup-digi-dojo-lab-user.js' %>",
        "@startup-digi-dojo-lab/calendar-event-form": "<%= isLocal ? '//localhost:8080/startup-digi-dojo-lab-calendar-event-form.js' : 'https://sddl-calendar-event-form.onrender.com/startup-digi-dojo-lab-calendar-event-form.js' %>",
        "@startup-digi-dojo-lab/calendar-event-list": "<%= isLocal ? '//localhost:8080/startup-digi-dojo-lab-calendar-event-list.js' : 'https://sddl-calendar-event-list.onrender.com/startup-digi-dojo-lab-calendar-event-list.js' %>",
        "@startup-digi-dojo-lab/calendar-fragment": "<%= isLocal ? '//localhost:8080/startup-digi-dojo-lab-calendar-fragment.js' : 'https://sddl-calendar-fragment.onrender.com/startup-digi-dojo-lab-calendar-fragment.js' %>",

        "@startup-digi-dojo-lab/task-create-form": "<%= isLocal ? '//localhost:8080/startup-digi-dojo-task-create-form.js' : 'https://sddl-task-create-form-r21m.onrender.com/startup-digi-dojo-task-create-form.js' %>",
        "@startup-digi-dojo-lab/task-list": "<%= isLocal ? '//localhost:8081/startup-digi-dojo-lab-task-list.js' : 'https://sddl-task-list-t9e4.onrender.com/startup-digi-dojo-lab-task-list.js' %>",
      
        "@startup-digi-dojo-lab/note-creator": "<%= isLocal ? 'https://sddl-note-creator.onrender.com/startup-digi-dojo-lab-note-creator.js' : 'https://sddl-note-creator.onrender.com/startup-digi-dojo-lab-note-creator.js' %>",
        "@startup-digi-dojo-lab/place-creator": "<%= isLocal ? 'https://sddl-place-creator.onrender.com/startup-digi-dojo-lab-place-creator.js' : 'https://sddl-place-creator.onrender.com/startup-digi-dojo-lab-place-creator.js' %>",
        "@startup-digi-dojo-lab/places-list": "<%= isLocal ? 'https://sddl-places-list.onrender.com/startup-digi-dojo-lab-places-list.js' : 'https://sddl-places-list.onrender.com/startup-digi-dojo-lab-places-list.js' %>",
        "@startup-digi-dojo-lab/notes-in-place-list": "<%= isLocal ? 'https://sddl-places-list.onrender.com/startup-digi-dojo-lab-notes-in-place-list.js' : 'https://sddl-places-list.onrender.com/startup-digi-dojo-lab-notes-in-place-list.js' %>"
      }
    }
  </script>

  <!-- Import main application script -->
  <script>
    System.import('@startup-digi-dojo-lab/root-config');
  </script>

  <!-- Import import-map-overrides -->
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>

  <!-- Bootstrap JS and Popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>